@import url('https://fonts.googleapis.com/css?family=Bangers');

html, body {
    font-family: "Bangers", monospace;
    text-align: center;
    color: #ffdb58;
    height: 100%;
    letter-spacing: 3px;
    background: #fff;
    background-size: cover;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.box {
    border-radius: 10%;
    display:flex;
    background: #C5383D;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 5px 5px 5px #000;
    border: 1px solid #fff;
    cursor: pointer;

}

.box:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #f12d2d;
}
